.backimg{
	background:url ("../img/");
	background-color: black;
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	position: fixed;
	background-size:cover;
}
.navbar .nav-item:hover .nav-link{
	background:white;
	color:black;
	border-radius:10px;
}
body{
	background-color:black;
	color:white;
}
h4, label
{
	color:black;
}